
@import url('https://fonts.googleapis.com/css?family=SpaceMono');

:root{
    --dark1  :  #2e3440;
    --dark2  :  #3b4252;
    --dark3  :  #434c5e;
    --dark4  :  #4c566a;
   --light1  :  #d8dee9;
   --light2  :  #e5e9f0;
   --light3  :  #eceff4;
    --blue1  :  #8fbcbb;
    --blue2  :  #88c0d0;
    --blue3  :  #81a1c1;
    --blue4  :  #5e81ac;
      --red  :  #bf616a;
   --orange  :  #d08770;
   --yellow  :  #ebcb8b;
    --green  :  #a3be8c;
   --purple  :  #b48ead;
}

body {
  font-family: 'SpaceMono', monospace;
  font-size: 30px;
  background-color: var(--light3) !important;
  color: var(--dark1) !important;
}

a {
  color: var(--dark1) !important;
  text-decoration: none;
}
